{% extends 'frontend/base.html' %}
{% block content %}
<title>FNGame » About Us</title>
<div>
    <h1>about fngame</h1>
    <p>
    FNgame is a free online game website that you can play on desktop and mobile devices at any time. 
    We developed this website as a project for Cloud Architecture Subject. 
    <div>
        <h4><strong>OUR TEAM</strong></h4>
        <p>
        <strong>Minnawat Cheewinsiriwat</strong> - Game Developer <br>
        <strong>Sagan Kaewsing</strong> - Database <br>
        <strong>Sahagan Nuytoom</strong> - Game Developer <br>
        <strong>Supapat Prangpant</strong> - Frontend Developer
        </p>
    </div>
    </p>
</div>
{% endblock %}

